<% content_for :title do %>
	Register/Login
<% end %>

<% content_for :header do %>
	<h4>The Wall</h4>
<% end %>

<% content_for :registration do %>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<h5>Register</h5>
		<%= simple_form_for @user, html: {class: 'form'} do |f| %>
			<%= f.input :first_name %>
			<%= f.input :last_name %>
			<%= f.input :email %>
			<%= f.input :password %>
			<%= f.input :password_confirmation %>
			<%= f.submit "Register", class: 'btn btn-primary' %>
		<% end %>
	</div>
<% end %>

<% content_for :login do %>
	<div class="col-md-4 col-sm-6 col-xs-6">
		<h5>Log In</h5>
		<%= simple_form_for :session,
							url: login_url,
							html: {class: 'form'} do |f| %>
			<%= f.input :email %>
			<%= f.input :password %>
			<%= f.submit "Log In", class: 'btn btn-primary' %>
		<% end %>
	</div>
<% end %>